@using Rocky.Application.Utilities
@model Rocky.Application.ViewModels.ProductUserVm

<form method="post">
    <br />
    <div class="backgroundWhiteBorder">
        <div class="container">
            <div class="card">
                <div class="card-header bg-dark text-light ml-0 row container">
                    <div class="col-6">
                        <i class="fa fa-shopping-cart"></i> &nbsp;
                        Order Summary
                    </div>
                    <div class="col-6 text-right">
                        <a asp-action="Index" class="btn btn-outline-info btn-sm">Back to Cart</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-12 col-lg-7 pb-4">
                                <div class="row">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">User Details:</span>
                                    </h4>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.FullName" type="text" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.FullName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.PhoneNumber" type="text" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.PhoneNumber" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-9">
                                        <input asp-for="ApplicationUser.Email" type="text" class="form-control" />
                                        <span asp-validation-for="ApplicationUser.Email" class="text-danger"></span>
                                    </div>
                                </div>
                                @if (User.IsInRole(WebConstant.AdminRole))
                                {
                    <div class="row my-1">
                        <div class="col-3">
                            <label>Street Address</label>
                        </div>
                        <div class="col-9">
                            <input asp-for="ApplicationUser.StreetAddress" type="text" class="form-control" />
                            <span asp-validation-for="ApplicationUser.StreetAddress" class="text-danger"></span>
                        </div>
                    </div>

                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>City</label>
                                        </div>
                                        <div class="col-9">
                                            <input asp-for="ApplicationUser.City" type="text" class="form-control" />
                                            <span asp-validation-for="ApplicationUser.City" class="text-danger"></span>
                                        </div>
                                    </div>
                                                    <div class="row my-1">
                                                        <div class="col-3">
                                                            <label>Postal Code</label>
                                                        </div>
                                                        <div class="col-9">
                                                            <input asp-for="ApplicationUser.PostalCode" type="text" class="form-control" />
                                                            <span asp-validation-for="ApplicationUser.PostalCode" class="text-danger"></span>
                                                        </div>
                                                    </div>}
                            </div>
                            <div class="col-12 col-lg-5 row">
                                <div class="col-12">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">Summary:</span>
                                    </h4>
                                    <ul class="list-group mb-3">
                                        @{ var orderTotal = 0d; }
                                        @for (var i = 0; i < Model.Products.Count(); i++)
                                        {
                            <input type="hidden" asp-for="@Model.Products[i].Id" />
                                            <inwput type="hidden" asp-for="@Model.Products[i].Name" />
                                                            <li class="list-group-item d-flex justify-content-between">
                                                                <div>
                                                                    <h6 class="my-0">@Model.Products[i].Name</h6>
                                                                    @if (User.IsInRole(WebConstant.AdminRole))
                                                                    {
                                                    <small class="text-muted">Sqft: @Model.Products[i].Sqft</small> }
                                                else
                                                {
                                <small class="text-muted">Price per Sqft: $@Model.Products[i].Price</small>}
                                                                </div>
                                                                @if (User.IsInRole(WebConstant.AdminRole))
                                                                {
                                                                    var price = @Model.Products[i].Price * @Model.Products[i].Sqft;
                                                <span class="text-muted">$@price</span>}

                                                            </li>orderTotal += Model.Products[i].Price * Model.Products[i].Sqft;
                                                                        }
                                        @if (User.IsInRole(WebConstant.AdminRole))
                                        {
                            <li class="list-group-item d-flex justify-content-between bg-light">
                                <small class="text-info">Total (USD)</small>
                                <strong class="text-info">$@orderTotal</strong>
                            </li>
}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 col-md-5 offset-md-7">
                            @if (User.IsInRole(WebConstant.AdminRole))
                            {
                <button type="submit" class="btn btn-success form-control">Submit Order</button> }
            else
            {
<button type="submit" class="btn btn-primary form-control">Submit Inquiry</button>}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}